@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');

* {
    background-image: url(./assets/realbackground.jpg);
    background-color: black;
    color: hsl(188, 99%, 60%);
    text-shadow: 1px 1px 2px #6DC542
}

header {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 12px;
    position: relative;
}

h1 a {
    text-decoration: none;
    color: #B1DA2C;
    font-family: 'Rubik Puddles', cursive;
    padding: 12px;
    font-size: 60px;
    text-shadow: 10px 10px 10px hsl(188, 99%, 60%);
}

#episode-dropdown {
    font-size: 24px;
    width: 250px;
    position: absolute;
    right: 50px;
    top: 50px;
}

label {
    width: 100%;
    font-size: 24px;
}

select,
input,
option {
    width: 100%;
    font-size: 20px;
}

h2 {
    font-size: 36px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 18px;
}

#summary {
    display: flex;
    justify-content: center;
}

#summary p {
    width: 60%;
}

#name-form {
    margin-bottom: 150px;
}


/* Season CSS */

#secondary-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

#season-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repate(3, 1fr);
    text-align: center;
}

#season-list div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#season-list img {
    width: 400px;
    height: 535px;
}

#season-list a {
    font-size: 24px;
}

#episode-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
}

#episode-list img {
    width: 400px;
    height: 240px;
    margin: 20px;
}

.episode-listing figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.episode-listing figcaption {
    font-size: 24px;
}

/* Episode CSS */

#episode-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#episode-info img {
    width: 500px;
}

#episode-info h2+h2 {
    margin-top: 0;
}

#character-info h2 {
    text-align: center;
}

.characters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.characters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.character-listing figcaption {
    width: 200px;
    font-size: 24px;
    text-align: center;
}

.character-listing img {
    width: 200px;
}

.hidden {
    visibility: hidden;
}

.remove {
    display: none;
}

/* Origin CSS */
#origin-info {
    display: flex;
    justify-content: center;
}

.hello-message {
    font-size: 24px;
    width: 60%
}

#alone {
    font-size: 24px;
    width: 100%;
}

/* 404 CSS */
#error-message {
    font-size: 30px;
}